<!DOCTYPE html>
<html>
    <body style = "text-align: center;background-color: #343a40; color: #ffffff; font-family: Open Sans, HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif;">
        <div style = "padding-top: 20px;padding-bottom:200px;margin-top:20px;margin-left:10;margin-right:10;">
            <img src = "https://fotos.subefotos.com/a99ab1de3a4c1d7b7060458d2fc6e9a7o.png" style="width: 70%;margin-top:10px;margin-left:auto;margin-right:auto;display:block"/>
            <br></br>
            <h4>¡Hola {name}, bienvenido(a) al Club de Programación ESFM!</h4>
            <h4 style ="color:#f9a836;">Tu ID de registro es: {id} </h4>
            <br></br>
            {discord}
            <p> Si no estás familiarizado con Discord, te adjuntamos una guía que preparamos: <a href = "{discord_tutorial}" style="color: #f9a836;">Tutorial de Discord</a>. </p>
            <br></br>
            <p>En los próximos días te estaremos enviando un correo para validar tus datos y cupo de los cursos, para así confirmar tu ingreso al CdP ESFM. </p> 
        </div>
    </body>
</html>