<!DOCTYPE html>
    <html>
        <body style = "text-align: center;background-color: #020202; color: #ffffff; font-family: Montserrat Light; font-size:0.9rem;">
            <div style = "margin:0px 40px;">
                <img src = "https://i.ibb.co/10SqBxW/Banner-email-H2021-1.gif" style="width: 100%;margin-top:10px;margin-left:auto;margin-right:auto;display:block"/>
                <h3>Hola, {name}
                <br></br>
                ¿Te gustaría crear o innovar algún proyecto dentro de tu institución? ¡Ésta es tu oportunidad! 🚀</h3>
                <p>Participa en el <strong>Hackathon ESFM-X 2021</strong> este 14 y 15 de agosto desarrollando soluciones digitales para tu escuela o a nivel institucional.</p>
                
                <p>No necesitas saber programar, y tampoco tener un equipo, basta con registrarte y nuestro algoritmo te asignará con personas que te ayudarán a ganar esta competencia. ¡Totalmente en línea!</p>
                <p><br></p>
                <p>Tienes hasta el  <strong>13 de agosto</strong> para registrarte.
                <p><br></p>
                <div style="text-align: center;" >
                    <a  href = "https://hackathon.esfm-x.com">
                        <button style = "background-color: #4CAF50; /* Green */
                                        border: none;
                                        color: white;
                                        padding: 15px 32px;
                                        text-align: center;
                                        text-decoration: none;
                                        display: inline-block;
                                        font-size: 16px;">
                            Quiero saber más
                        </button>
                    </a>
                    <p></p>
                </div>
                
                <p style = "font-size: 0.7rem; padding-top:30px;">
                    Si el botón anterior no funciona ingresa al siguiente enlace: 
                    <a  href = "https://hackathon.esfm-x.com" style = "color:white"> 
                        https://hackathon.esfm-x.com
                    </a>
                </p>
                <img src = "https://i.ibb.co/PNwXpWt/Banner-email-H2021.gif" style="width: 100%;margin-top:10px;margin-left:auto;margin-right:auto;display:block"/>
            </div>
        </body>
    </html>