<!DOCTYPE html>
    <html>
        <body style = "background-color: #020202; color: #ffffff; font-family: Montserrat Light; font-size:0.9rem;">
            <div style = "padding:30px; padding-top: 20px;padding-bottom:20px;">
                <img src = "https://i.ibb.co/Gv2DmL1/Banner-email-H2021.gif" style="width: 90%;margin-top:10px;margin-left:auto;margin-right:auto;display:block"/>
                <h3>Hola, {name}
                <br></br>
                Estás a un click de ser parte de esta experiencia 🚀</h3>
                <p>El <strong>Hackathon ESFM-X 2021</strong> tiene como objetivo obtener <strong>soluciones digitales</strong> que ayuden a la comunidad educativa de tu escuela o a nivel interpolitécnico 💻✨.</p>
                
                <p>Un día antes del evento (13 de agosto 2021) te enviaremos por este medio el itinerario y los distintos enlaces necesarios ¡Mantente atento! 🤓  </p>
                <p><br></p>
                <p>Para lo anterior necesitamos que <strong>confirmes tu asistencia </strong>🤳🏻</p>
                <p><br></p>
                <div style="text-align: center;" >
                    <a  href = "https://hackathon.esfm-x.com/verify/{email_encrypted}">
                        <button style = "background-color: #4CAF50; /* Green */
                                        border: none;
                                        color: white;
                                        padding: 15px 32px;
                                        text-align: center;
                                        text-decoration: none;
                                        display: inline-block;
                                        font-size: 16px;">
                            ¡Confirmo mi asistencia!
                        </button>
                    </a>
                    <p></p>
                    ID de registro: {id}
                </div>
                
                <p style = "font-size: 0.7rem; padding-top:30px;">
                    Si el botón anterior no funciona ingresa al siguiente enlace: 
                    <a  href = "https://hackathon.esfm-x.com/verify/{email_encrypted}" style = "color:white"> 
                        https://hackathon.esfm-x.com/verify/{email_encrypted}
                    </a>
                </p>
                <img src = "https://i.ibb.co/PNwXpWt/Banner-email-H2021.gif" style="width: 90%;margin-top:10px;margin-left:auto;margin-right:auto;display:block"/>
            </div>
        </body>
    </html>